# IntellIj Resources
*.iml
.idea/
# Gradle resources and directory
.gradle/
build/
#Customized by user
manifest.yml
#local slf4j config
src/main/resources/logback.xml
#Local config for cloudfoundry client test
src/test/resources/cloudfoundry_client.properties
src/main/resources/cloudfoundry_client.properties
src/test/java/org/cloudfoundry/autosleep/Sandbox.java
