# IntellIj Resources
*.iml
.idea/
# Gradle resources and directory
.gradle/
build/
#Customized by user
manifest*.yml
#local slf4j config
src/main/resources/logback.xml
#Local config for cloudfoundry client test
common/src/test/java/org/cloudfoundry/autosleep/Sandbox.java
common/src/test/resources/cloudfoundry_client.properties
## acceptance test results
log.html
output.xml
report.html
coverage-error.log
*.pyc
acceptance/acceptance.cfg

dump.rdb
acceptance/sandbox.robot
