# IntellIj Resources
*.iml
.idea/
# Gradle resources and directory
.gradle/
build/
#Customized by user
manifest.yml
#local slf4j config
src/main/resources/logback.xml
#Local config for cloudfoundry client test
src/test/resources/cloundfoundry_client.properties

